<?xml version="1.0"?>
<model>
    <name>open_manipulator_on_world</name>

    <version>1.0</version>
    <sdf version='1.6'>open_manipulator_on_world.sdf</sdf>

    <author>
        <name>Kaito Nakano</name>
        <email>nakano16180@gmail.com</email>
    </author>

    <description>
        World for the OpenManipulator.
    </description>
</model>
