<?xml version="1.0"?>
<launch>

  <arg name="world" default="empty"/>
  <arg name="ign_args" default=""/>

  <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
    <arg name="ign_args" value="-r -v 3 $(arg world).sdf"/>
  </include>

  <!--<include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
    <arg name="ign_args" value="-r -v 3 $(find open_manipulator_ign)/worlds/openManipulator.world"/>
  </include>-->

  <!-- SDF from file, package model -->
  <node
    pkg="ros_ign_gazebo"
    type="create"
    name="$(anon open_manipulator_ign)"
    output="screen"
    args="-world $(arg world) -file $(find open_manipulator_ign)/models/openManipulator/open_manipulator_on_world.sdf -name spawned -allow_renaming true -z 0">
  </node>
</launch>
